* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5{
    text-align: center;
}

.navbar{
    top:0;
    background-color: #FCF5EB;
    opacity: 0.8;
}

.nav-link:hover{
    color: #2CA484;
}


body {
    background-color: #FCF5EB;
}

.texto-nota{
    background-color: #2CA484;
    padding: 20px;
    height: 200px;
}

.img-nota{
    width: 100%;
    height: 200px;
}

.padre-nosotros{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    background-color: #2CA484;
    margin: 15px 10px;
}

.card-title{
    text-align: center;
}

.btn{
    background-color: #6b6b6b;
    color: black;
}

@media (min-width: 992px) {
    .container-fluid{
        display: flex;
        gap: 70px;
    }
}


.navbar-brand img{
    width: 150px;
    height: 70px;
}

@media (min-width: 900px) {
    .navbar-brand img{
        width: 180px;
        height: 90px;
    }
}
@media (min-width: 991px) {
    .nav-item{
        font-size: 20px;
        margin: 10px;
    }
}


.carousel-item img{
    height: 300px;
}

@media (min-width: 900px) {
    .carousel-inner {
        margin: 15px auto ;
        width: 75%;
    }
    .carousel-item img {
        height: 480px;
    }
}

.padre-contacto{
    display: grid;
    text-align: center;
    align-items:center;
    grid-template-columns: repeat(1,1fr);    
    margin-bottom: 20px;    
}

@media (min-width:900px){
    .padre-contacto{
        grid-template-columns: repeat(3,1fr);
        margin-left: 200px;
        gap: 200px;
    }
}

.mapa{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 30px;
    margin-left: 30px;

}

.contacto{
    display: flex;
    flex-direction: column;
}

.botoncont{
    margin-top: 10px;
}


footer{
    color: #fff;
    background-color: #1c1e21;
}

.footer-1{
    padding: 5px;
}

.padre-redes{
    text-align: center;
}
footer .footer-2{
    text-align: center;
}
.icono-redes, .whatsapp {
    width: 40px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 50px;
}

