* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Prompt', sans-serif;
    background-color: #FCF5EB;
}

header {
    background-color: #FCF5EB; 
    display: flex;
    justify-content:left;
    align-items: center;
    opacity: .8;
    position: sticky;
    top: 0;
    gap: 150px;
}

header img {
    width: 160px;
}


.icono-redes, .whatsapp {
    width: 40px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 50px;
}

